<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->
<div id="app">
  <input type="text" v-model="searchName">
  <ul>
    <li v-for="(p,index) in filterPersons" :key="index">
      {{index}}--{{p.name}}--{{p.age}}
    </li>
  </ul>
    <button @click="setSortType(1)">年龄升序</button>
  <button @click="setSortType(2)">年龄降序</button>
  <button @click="setSortType(0)">原本顺序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
      new Vue({
          el: '#app',
          data: {
              searchName: '',
              sortType:0, //0: 不排序, 1: 升序, 2: 降序
              persons: [
                  {name: 'Tom', age: 12},
                  {name: 'Jack', age: 13},
                  {name: 'Bob', age: 11},
                  {name: 'Mary', age: 10},
                  {name: 'Rose', age: 15},
              ]
          },
          methods:{
              setSortType (sortType) {
                  this.sortType = sortType;
              }
          },
          computed: {
              filterPersons (){
                  let {searchName, persons, sortType} = this
                  //过滤数组
                  persons = persons.filter(function (p,index) {
                      return p.name.indexOf(searchName) > -1
                  })

                  //可能需要对数组进行排序
                  if(sortType!==0){
                      //排序
                      persons.sort(function (p1,p2) {
                          //升序
                          if(sortType === 2) {
                              return p2.age-p1.age
                          }else{
                              return p1.age-p2.age
                          }
                      })
                  }
                  return persons
              }
          }
      })
</script>
</body>
</html>